    <footer class="footer cell">
        <div class="grid-x grid-margin-x">
            <h2 class="medium-3">Stay Connected</h2>

            <h2>Contact Form</h2>

            [[!+fi.validation_error_message:notempty=`<p>[[!+fi.validation_error_message]]</p>`]]
            <div class="medium-7">
                [[!FormIt?
                    &hooks=`email,redirect`
                    &emailTo=`cwilson@christopherwilson.biz`
                    &redirectTo=``
                    &validate=`nospam:blank,
                    email:email:required,
                ]]
                <form action="[[~[[*id]]]]" method="post" class="form">
                    <input type="hidden" name="nospam" value="" />

                    <div class="row">
                        <div class="input-group">
                            <input class="input-group-field" placeholder="Email Address"
                                   type="text" name="email" id="email" value="[[!+fi.email]]" />
                            <div class="input-group-button">
                                <input type="submit" class="button postfix" value="Sign Up" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="medium-2 social-media-links">
                <a href="[[*FacebookURL]]" class="link-facebook"></a>
                <a href="[[*TwitterURL]]" class="link-twitter"></a>
                <a href="[[*InstagramURL]]" class="link-instagram"></a>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"
        integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk="
        crossorigin="anonymous"></script>
<script src="https://use.typekit.net/uxc6ivz.js"></script>

<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script type="text/javascript">

</script>
</body>
</html>