@media screen {
    :root {
        --color-grey1: #f2f2f2;
        --color-grey2: #eaeaea;
        --color-grey3: #d3d3d3;
        --color-grey4: #bfbfbf;
        --color-text-grey: #686b72;
        --color-green: #7f873f;
        --color-dark-green: #4c5438;

        --body-font: "Proxima Nova Bold", sans-serif;
        --heading-color: #000;
    }

    a {
        color: var(--color-green);
    }
    a:hover {
        color: var(--color-dark-green);
        text-underline: 1px solid var(--color-dark-green);
        transition: text-underline 0.5s ease;
    }

    body, h3 {
        font-family: var(--body-font);
        font-size: 16px;
        line-height: 20px;
    }

    body {
        color: var(--color-text-grey);
    }

    button {
        border: 1px #fff;
        color: var(--color-green);
        padding: 10px 15px
    }
    button:hover {
        color: var(--color-dark-green);
        transition: color 0.5s ease;
    }
    .btn-text {
        color: #fff;
        font-family: "Nimbus Sans Cond Reg", sans-serif;
        font-size: 18px;
        line-height: 20px;
    }

    footer {
        background-image: url("/assets/images/big-ears-splash-footer.jpg");
        -webkit-background-size: cover;
        background-size: cover;
        margin-top: 2rem;
        padding: 2rem 3rem !important;
        text-align: center;
    }

    h1, h2 {
        font-family: "Nimbus Sans Cond Reg", sans-serif;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 10px;
    }
    h1, h2, h3 {
        color: var(--heading-color);
    }
    h1 {
        font-size: 32px;
        line-height: 37px;
    }
    h2 {
        font-size: 24px;
        line-height: 27px;
    }
    h3 {
        margin-bottom: 6px;
        margin-top: 6px;
    }
    iframe {
        max-width: 100%;
    }

    input[type='email'] {
        background-color: var(--color-grey2);
        border-color: white;
    }
    input[type='email']::placeholder {
        color: var(--color-text-grey) !important;
        margin-left: 1rem;
    }
    input[type="submit"] {
        background-color: var(--color-green);
        margin: 0 !important;
    }
    input[type="submit"]:hover {
        background-color: var(--color-dark-green);
    }
    .btn-slider-left {
        background-image: url('/assets/images/slider-arrow-left.png');
    }
    .btn-slider-left:hover {
        background-image: url('/assets/images/slider-arrow-left-hover.png');
    }
    .btn-slider-right {
        background-image: url('/assets/images/slider-arrow-right.png');
    }
    .btn-slider-right:hover {
        background-image: url('/assets/images/slider-arrow-right-hover.png');
    }
    .festival-news div {
        border-bottom: 1px solid var(--color-grey3);
        margin-bottom: 1rem;
    }
    .festival-news h2 {
        margin-bottom: 2rem;
    }
    .link-facebook {
        background-image: url('/assets/images/big-ears-facebook@2x.png')
    }
    .link-facebook:hover {
        background-image: url('/assets/images/big-ears-facebook-hover@2x.png')
    }
    .link-instagram {
        background-image: url('/assets/images/big-ears-instagram@2x.png')
    }
    .link-instagram:hover {
        background-image: url('/assets/images/big-ears-instagram-hover@2x.png')
    }
    .link-twitter {
        background-image: url('/assets/images/big-ears-twitter@2x.png')
    }
    .link-twitter:hover {
        background-image: url('/assets/images/big-ears-twitter-hover@2x.png')
    }
    .rss-heading {
        color: var(--color-green);
        font-weight: bold;
    }
    .social-media-links {
        display: flex;
        justify-content: center;
    }
    .social-media-links a, .slider-buttons a {
        background-size: cover;
        display: inherit;
        float: left;
        height: 2rem;
        width: 2rem;
    }
    .video {
        margin-bottom: 2rem;
    }
}